<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>
  <br>
    <center>
      <div class="title">
        <h1>
          <span style='color: #09BDBD'>C</span>
          <span style='color: #09BD69'>o</span>
          <span style='color: #09BD3F'>s</span>
          <span style='color: #09BD15'>t</span>
          <span style='color: grey'>-</span>
          <span style='color: #39BD09'>G</span>
          <span style='color: #6FBD09'>o</span>
        </h1>
        <p>Your <b>Cost</b> calculating <b>Go</b> to App!</p>
      </div>
    </center>
      <br>
      <br>
        <div class="container"> <!-- container -->
          <div class="card-group"> <!-- card-group -->
            <% @data['routes'].each do |k| %>
              <% k['legs'].each do |i, v| %>
                
            <div class="card"> <!-- card begin -->
              <img src="images/directions.png" class="card-img-top" alt="directions" style="height=250px; width:250px;">
                <div class="card-body"> <!-- card body -->
                  <h5 class="card-title">Distance and Time</h5>
                    <p class="card-text">Starting: <%= i['start_address'] %></p>
                    <p class="card-text">Ending: <%= i['end_address'] %></p>
                    <p class="lead"><%= i['distance']['text'] %> | <%= i['duration']['text'] %></p>
                </div> <!-- card body end -->
            </div> <!--card end -->
            
            <div class="card">
              <img src="images/directions.png" class="card-img-top" alt="directions" style="height=250px; width:250px;">
                <div class="card-body">
                  <h5 class="card-title">Distance and Time</h5>
                    <p class="card-text">Starting: <%= i['start_address'] %></p>
                    <p class="card-text">Ending: <%= i['end_address'] %></p>
                    <p class="lead"><%= i['distance']['text'] %> | <%= i['duration']['text'] %></p>
              </div>
            </div>

            <div class="card"> <!-- card begin -->
              <img src="images/directions.png" class="card-img-top" alt="directions" style="height=250px; width:250px;">
                <div class="card-body"> <!-- card body -->
                  <h5 class="card-title">Distance and Time</h5>
                    <p class="card-text">Starting: <%= i['start_address'] %></p>
                    <p class="card-text">Ending: <%= i['end_address'] %></p>
                    <p class="lead"><%= i['distance']['text'] %> | <%= i['duration']['text'] %></p>
                </div> <!-- card body end -->
            </div> <!--card end -->
        <% end %>
      <% end %>
    </div> <!-- end card group --> 
  </div> <!-- end container -->




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> 

<style>
  body {
    background-image: url("images/cartographer.png")
  }

  b {
    color: #5090EF;
  }

  .title {
    border: dashed;
    border-color: #3BAFAF #3B3BAF #4FD89C #117111;
    border-radius: 5px 20px 5px 20px;
    width: 250px;
  }

  .jumbotron {
    background-image: url("images/seigaiha.png");
  }

  .card-title {
    text-align: center;
  }

  h1 {
    text-align:center;
    text-decoration: underline;
    text-decoration-color: purple;
  }

  p {
    text-align: center;
    color: #3B8CAF;
  }

  h2 {
    text-align: center;
  }


</style>